{% extends "app/homepage.html.twig" %}

{% block title %}
    {{parent()}}
    | Meals
{% endblock %}


{% block body %}
    <main class="menuContainer">
        {% if types is not empty and meals is not empty %}
            <section class="menu">
                {% for type in types %}
                    <div class="{{type.Type}}">
                        <h3>{{type.Type}}</h3>

                        {% for meal in meals %}
                            {% for product in meal %}
                                {% if product.Type == type.Type %}
                                    <div class="meal">
                                        <p>
                                            <span>{{product.Name}}</span>
                                            <span>
                                                <i class="fas fa-dollar-sign"></i>
                                                {{product.Price}}</span>
                                        </p>
                                        <p>
                                            {% for ingr in product.Ingredients %}
                                                {{ingr.Name}}
                                                {% if loop.last == false %}
                                                    ,
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </section>
        {% else %}
            <section class="error">
                <h1>Oops, looks like something happend to menu...</h1>
                <p>We are working on it stay tuned!</p>
            </section>
        {% endif %}
    </main>
{% endblock %}
