{% extends 'app/index.html.twig' %}

{% block addition %}
	Order monitor
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('/styles/app/monitor.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
	<section class="monitor-org">
		<form action="{{path('orderMonitor')}}" method="GET">
			<input name="id" class="monitor-input" type="number" required>
			<label>
				Order id
			</label>
			<button class="monitor-btn">
				Check your order
			</button>
		</form>
		{% if status is not null %}
			<div class="order-status">
				<p class="created-at">
					<span>
						Date of order
					</span>
					<span>
						{{status.createAt|date('M d, Y')}}
					</span>
				</p>
				<p class="address">
					<span>
						Address of order
					</span>
					<span>
						{{status.Address}}
					</span>
				</p>
				<p class="status">
					<span>
						Status of order
					</span>
					<span>
						{{status.Status}}
					</span>
				</p>
				<p class="list">
					<span>
						List of meals
					</span>
					<span>
						{% for meal in status.orderList %}
							{% if loop.last != true %}
								{{meal.quant}}x
								{{meal.name}},
							{% else %}
								{{meal.quant}}x
								{{meal.name}}
							{% endif %}
						{% endfor %}
					</span>
				</p>
			</div>
		{% endif %}
	</section>
{% endblock %}
