{% extends "app/homepage.html.twig" %}

{% block title %}
    {{parent()}}
    | Make order
{% endblock %}

{% block body %}
    <section class="order">
        {{form_start(order)}}
        {{form_widget(order.Address)}}
        {{form_widget(order.Proceed)}}
        {{form_end(order)}}
    </section>
{% endblock %}
