{% extends 'app/index.html.twig' %}

{% block addition %}
	Order - Pick
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('/styles/app/order.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
	<section class="pick-form">
		{% for meal in meals %}
			<div class="meal" data-id={{meal.id}}>
				<p>
					{{meal.Name}}
				</p>
				<p>
					${{meal.Price}}
				</p>
				<input class="amount" type="number" value="0">
			</div>
		{% endfor %}
		<button class="pick-btn">
			Sum up
		</button>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('/js/orderPick.js')}}"></script>
{% endblock %}
