{% extends "base.html.twig" %}

{% block title %}Johnny's | Pick meal
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('styles/app.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <article class="pickEm" id="mainPick">
        <section class="items" id="pick"></section>
    </article>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/json.js')}}"></script>
{% endblock %}
