{% extends "app/homepage.html.twig" %}


{% block title %}
    {{parent()}}
    | Order summary
{% endblock %}

{% block body %}
    <article class="summary">
        <section class="list">
            <h2>Order list</h2>
            {% for meal in meals %}
                <div class="mealCont">
                    <h3 class="name">{{meal.0}}</h3>
                    <p class="price-quant">
                        <i class="fas fa-dollar-sign"></i>
                        {{meal.1}}
                        x
                        {{meal.2}}
                        =
                        <i class="fas fa-dollar-sign"></i>
                        {{meal.3}}
                    </p>
                </div>
            {% endfor %}
        </section>
        <section class="foot">
            <p class="ad-data">
                <i class="fas fa-map-marker-alt"></i>
                {{location}}
            </p>
            <p class="total-sum">Total:
                {{total}}
                <i class="fas fa-dollar-sign"></i>
            </p>
            <a href="{{path('proceed')}}" class="sub">
                <button>Submit order
                    <i class="fas fa-arrow-right"></i>
                </button>
            </a>
        </section>
    </article>
{% endblock %}
