{% extends 'base.html.twig' %}

{% block title %}Johnny's | Employee
    {% block extra %}{% endblock %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('styles/employee.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <article class="employee">
        <section class="ingredients">
            <a href="{{path('ingredients')}}">
                <button>Ingredients</button>
            </a>
        </section>
        <section class="orders">
            <a href="{{path('eOrders')}}">
                <button>Orders</button>
            </a>
        </section>
        <section class="meals">
            <a href="{{path('eMeals')}}">
                <button>Meals</button>
            </a>
        </section>
    </article>
{% endblock %}
