{% extends 'base.html.twig' %}

{% block title %}Johnny's | Employee
    {% block extra %}{% endblock %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('styles/employee.css')}}" rel="stylesheet">
{% endblock %}

{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}}">
                {{message|raw}}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}}">
                {{message|raw}}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}
    <article class="employee">
        <p>Hello,
            {{name}}
            [<a href="{{path('eLogout')}}">Logout</a>]</p>
        <section class="ings">
            <a href="{{path('ingredients')}}">
                <button>Ingredients</button>
            </a>
        </section>
        <section class="ords">
            <a href="{{path('eOrders')}}">
                <button>Orders</button>
            </a>
        </section>
        <section class="mls">
            <a href="{{path('eMeals')}}">
                <button>Meals</button>
            </a>
        </section>
    </article>
{% endblock %}
