{% extends "customer_service/homepage.html.twig" %}

{% block extra %}| New ingredient
{% endblock %}

{% block nav %}
    <article class="nav">
        <section class="link">
            <a href="{{path('ingredients')}}">
                <i class="fas fa-arrow-left"></i>
                Back</a>
        </section>
    </article>
{% endblock %}

{% block body %}
    <article class="form">
        <section>
            {{form_start(new)}}
            {{form_widget(new.Name)}}
            {{form_widget(new.Insert)}}
            {{form_end(new)}}
        </section>
    </article>
{% endblock %}
